.App {
  /* text-align: right; */
  font-family: "Comic Sans MS";
}
.page-header {
  text-align: center;
  font-family: "Comic Sans MS";
  font-size: 70px;
  margin-top: .3em;
  margin-bottom: .3em;
}
.letterBox {
  text-align: center;
  font-family: "Comic Sans MS";
    font-size: 100px;

  }

.a_box {
  background-color:#9fc5e8;
  width: 100px;
}
.e_box {
  background-color:#a2c4c9;
  width: 100px;  
}
.i_box {
  background-color: #ffe59a;
  width: 100px;
}
.o_box {
  background-color: #d9d2e9;
  width: 100px;
}
.u_box {
  background-color: #cfe2f3;
  width: 100px;
}

.listeningText {
  color: red;
}

.answerTextBox{
  width: fit-content;
}

.envCheck{
  padding:8px;
  color:lightgray;
}

.stateDisplay{
  position:fixed;bottom:0;
  color:lightgrey;
}

.transcript{
  font-size: 24px;
}