.container-fluid {
  padding: 0px !important;
}

h1{
  color:#212121 !important;
}

.bg-dark {
  background-color: #212121 !important;
}


.listeningText {
  color: red;
}

.answerTextBox{
  width: fit-content;
}

.envCheck{
  padding:8px;
  color:lightgray;
}

.stateDisplay{
  position:fixed;bottom:0;
  color:lightgrey;
}

.transcript{
  font-size: 24px;
}

.letsStart{
  position: absolute;
  /* background: url('../images/paws.png') no-repeat; */
  text-align: left;
}

.letsStartText{
  display: inline-block;
  vertical-align: middle;
  font-size: 30px
}

.btn-secondary{
  background-color: #FA135F  !important;
  border-color: #AA1946!important;
}

.homepageContent{
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 1;
}

@media screen and (min-width: 550px) {
  .homepageContent {
    position: absolute;
    top: 100px;
  }
}

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%; 
  height: 100%;
}



