@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

.DescriptionBox{
    background: rgba(129, 130, 134, 0.5);
    padding: 20px;
    z-index: 1;
}

  .answerTextBox{
    font-family: 'Caveat Brush';
    color: #AA1946;
    font-size: 100px;
    width: fit-content;
    text-align: center;
    border-style: none;
  }

  .loader {
    margin: 0 auto;
    border: 16px solid #AA1946; 
    border-top: 16px solid #FA135F; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 7s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (min-width: 550px) {
    .DescriptionBox {
      border-radius: 15px;
      margin: auto;
      width:500px;
      margin-top: 15px;
      margin-bottom: 15px;
      display: inline-block;
    }

    .SpellingTestContainer{
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;       
    }

  }

  