@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

.informationBox{
  background: rgba(129, 130, 134, 0.5);
  padding: 20px;
 
}

.SpellingTestContainer{
  margin: auto;
}

.questionContainer{
  text-align: center;
}

  .answerTextBox{
    font-family: 'Caveat Brush';
    color: #AA1946;
    text-align: center;
    border-style: none;
    font-size: 30px;
  }

  .answerTextBox:focus{
    outline: none
  }

  .loader {
    border: 16px solid #AA1946; 
    border-top: 16px solid #FA135F; 
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 7s linear infinite;
    margin: auto;
}

    .SpellingTestContainer{
        margin-bottom: 15px;
        text-align: center;       
    }

    .waitModal{
      padding:50px;
      background-color: #AA1946;
      font-size: 30px;
      color: whitesmoke;
      text-align: center;
    }

    .listeningLoader {
      height: 4px;
      width: 100%;
      position: relative;
      overflow: hidden;
      background-color: #ddd;
    }
    .listeningLoader:before{
      display: block;
      position: absolute;
      content: "";
      left: -200px;
      width: 200px;
      height: 4px;
      background-color: #AA1946;
      animation: loading 2s linear infinite;
    }
    
    @keyframes loading {
        from {left: -200px; width: 30%;}
        50% {width: 30%;}
        70% {width: 70%;}
        80% { left: 50%;}
        95% {left: 120%;}
        to {left: 100%;}
    }

    @media screen and (min-width: 550px) {
      .informationBox{
        border-radius: 15px;
        width: 550px;
        margin:auto;
    }

    .assessmentContainer{
      text-align: center;
      padding:20px;
    }

    .answerTextBox{
      font-size: 100px;
      width: fit-content;
    }

    }